manifest.mainScript = 'infernal_rfam.nf'

dag {
    enabled = true
    file = 'results/dag.html'
}

report {
    enabled = true
    file = 'results/report.html'
}

trace {
    enabled = true
    file = 'results/trace.txt'
}



executor{
  queueSize=20
}

process {
    trnascan_container = 'docker://quay.io/biocontainers/trnascan-se:2.0.12--pl5321h031d066_0' 
    withName:svg_2_pdf {
        container = trnascan_container
    }
    withName:svg_2_pdf {
        container = trnascan_container
    }
    withName:svg_2_pdf {
        container = trnascan_container
    }
}

includeConfig 'apptainer.nf.config'
